.container {
  @apply max-w-full max-h-full w-full h-full aspect-event;
  @apply m-auto rounded-xl overflow-hidden shadow-l1;
  @apply relative cursor-pointer;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  // Hover
  &:hover { @apply shadow-l1Hover; }
  // Override default image styling
  img { 
    // Need to use normal css here because of https://github.com/tailwindlabs/tailwindcss/discussions/8733
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    // This needs to be normal css because of the !important
    position: static !important;
  }
  // Handle sub events
  div {
    @apply w-full;
    @apply px-4 py-3;
    @apply absolute left-0 bottom-0;
    @apply text-txt-1;
    // Background gradient (Not using tailwind here because of gradient)
    background: linear-gradient(0deg, rgba(0, 0, 0, .55) 0%, rgba(75, 75, 75, .55) 20%);
    // Make the span a block
    span { @apply block text-txt-4; } 
  }
}