.container {
  @apply grid grid-cols-3 w-full overflow-hidden;
  h2 {
    @apply bg-inherit;
    @apply rounded-t-lg;
    @apply px-4 py-2;
    @apply text-2xl font-bold text-center text-color-2;
    @apply z-10;
  }
  // Border Radius
  span {
    @apply relative flex-grow;
    @apply rounded-bl-xl; // Set up left side
    // Right side
    &:first-of-type {
      @apply rounded-br-xl rounded-bl-none;
    }
    // Outer Radius
    &:before,
    &:after {
      @apply bg-inherit;
      content: '';
      @apply absolute top-0 z-0;
      @apply h-full w-3;
      @apply right-0 translate-x-full; // Set up right side
    }
    &:before {
      // Left side
      @apply left-0 -translate-x-full;
    }
  }
  // Position
  grid-template-columns: 1fr max-content 1fr;
  &.left {
    grid-template-columns: 1.5rem max-content 1fr;
  }
  &.right {
    grid-template-columns: 1fr max-content 3rem;
  }
}
